<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.java.dao.mapper.LoginMapper">
    <insert id="Save">
        insert into User_Login(u_id, username, password)
        values (0,#{username},#{password})
    </insert>
    <update id="updateByUId">
        update User_Login
        SET u_id=#{id}
        Where id=#{id}

    </update>
    <select id="findAll" resultType="com.news.java.dao.entity.UserLogin">
        select  * from User_Login
    </select>
    <select id="findUserLoginByusername" resultType="com.news.java.dao.entity.UserLogin">
        select * from User_Login
        WHERE username=#{username}
    </select>
    <select id="findUserLoginByusernameAndPassword" resultType="com.news.java.dao.entity.UserLogin">
        select * from User_Login
        WHERE username=#{username}
        and password=#{password}
    </select>
    <select id="findUserLoginByUid" resultType="com.news.java.dao.entity.UserLogin">
        SELECT * FROM User_Login
         WHERE u_id=#{userId}
    </select>
</mapper>